.profile-card {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.project-card {
  border: 1px solid var(--md-default-fg-color--lightest);
  border-radius: 0.5rem;
  padding: 1.5rem;
  transition: box-shadow 0.25s;
  cursor: pointer;
}

.project-card:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card-icon .twemoji svg {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--md-primary-fg-color);
}
@media screen and (max-width: 760px) {
  .profile-card {
    flex-direction: column;
    text-align: center;
  }

  .project-card {
    margin-bottom: 1rem;
  }

  .md-content__button {
    display: none;
  }
}
